/* Global style */
:root {
    --background-color: #F7F7F7;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
}

.py-8 {
    padding-block: 80px;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", sans-serif;
    color: rgb(52, 52, 52);

}

a,
span {
    display: inline-block;
}

p {
    color: #748182;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
    padding-left: 0;
}


.title h3 {
    font-weight: 900;
    font-size: 40px;
    position: relative;
    display: inline-block;
    z-index: 4;

}

.title h3::after {
    content: "";
    width: 100%;
    height: 75%;
    position: absolute;
    left: 0px;
    bottom: -5px;
    background-image: url(../IMGES/dots.png);
    background-repeat: repeat;
    z-index: -1;
}

.max-width-500 {
    max-width: 200px;
}


/* header section */

/* .navbar-nav .nav-link.active::after{
    content: "";
    width: 100%;
    height: 2px;
    background-color: black; 
    position: absolute;
    left: 0;
    bottom: 0;
} */

.navbar-nav .nav-link::after {
    content: "";
    width: 0%;
    height: 2px;
    background-color: black;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: all 1s;
}

.navbar-nav .nav-link:hover::after,
.navbar-nav .nav-link.active::after {
    width: 100%;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.598), rgba(0, 0, 0, 0.598)), url(../IMGES/header.jpg);
    background-position: center;
    background-size: cover;
}

header h5 {
    font-weight: 800;
    font-size: 50px;
}

.navbar .nav-link {
    color: black;
}


/* header section */
.social-icon span i {
    background-color: rgba(0, 0, 0, 0.621);
    width: 40px;
    height: 40px;
    border-radius: 50%;

}

header h1 {
    font-size: 3rem;
    line-height: 1.2;
}

/* about section */

.about-section h3 {
    line-height: 1.1;
    font-weight: 900;
    font-size: 40px;

}

.about-p {
    line-height: 1.6;
    margin: 0;
    font-size: 15px;
    color: #748182;
}

.about-section .reading-part .ui {
    letter-spacing: 2px;
    color: #999;
    text-transform: uppercase;
    font-size: 14px;

}


.progress {
    background-color: #ded9d9;
    width: 100%;
    height: 23px;

}

.progress-part h6 {
    font-size: 14px;
}

.animate-bar-1 {
    background-color: black;
    color: white;
    animation: fillBar 3s ease-in-out;
}

@keyframes fillBar {
    from {
        width: 0;
    }

    to {
        width: 95%;
    }
}

.animate-bar-2 {
    background-color: black;
    color: white;
    animation: fillBar 3s ease-in-out;
}

@keyframes fillBar {
    from {
        width: 0;
    }

    to {
        width: 80%;
    }
}

.animate-bar-3 {
    background-color: black;
    color: white;
    animation: fillBar 3s ease-in-out;
}

@keyframes fillBar {
    from {
        width: 0;
    }

    to {
        width: 90%;
    }
}

.about-section .about-btn a:first-child {
    background-color: black;
    transition: 0.5s;
    font-size: 13px;

}

.about-section .about-btn a:last-child {
    background-color: white;
    color: black;
    transition: 0.5s;
    font-size: 13px;
}

.about-section .about-btn a:first-child:hover {
    background-color: white;
    color: black;

}

.about-section .about-btn a:last-child:hover {
    background-color: black;
    color: white;
}

/* about-img */

.about-img::after {
    content: "";
    width: 85%;
    height: 80%;
    position: absolute;
    left: -30px;
    bottom: -30px;
    background-image: url(../IMGES/dots.png);
    background-repeat: repeat;
    z-index: -1;
}


.pt-xs-8 {
    padding: 60px;
}


/* Services section  */

.services-section {
    background-color: var(--background-color);
}

.services-section .card {
    box-shadow: 3px 10px 10px rgb(239, 239, 239);
    transition: box-shadow 0.3s ease-in-out;
}

.card-body i {
    background-color: rgba(219, 216, 216, 0.621);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s ease, color 0.5s ease;

}

.services-section .card:hover i {
    background-color: black;
    color: white;
}

.services-section .card .card-body h6 {
    color: black;
}

.services .item p {
    font-size: 12px;
    word-spacing: 2px;

}


/* works section */

.nav-pills .nav-link {
    position: relative;
    background-color: white;
    color: black;
    padding: 0px;
}

.nav-pills .nav-link.active {
    background-color: white;
    color: black;
    padding: 0px;
}

.nav-pills .nav-link::after {
    content: "";
    width: 0%;
    height: 2px;
    background-color: black;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: all 0.3s ease;
}

.nav-pills .nav-link:hover::after,
.nav-pills .nav-link.active::after {
    width: 100%;
}


.works-content {
    position: relative;
    overflow: hidden;
}

.works-content img {
    display: block;
    width: 100%;
    height: auto;
}

.works-content .layout {
    position: absolute;
    top: 2%;
    left: 2%;
    width: 96%;
    height: 96%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transform: scale(0.9);
    transition: transform 0.5s ease;

}





.works-content:hover .layout {
    opacity: 1;
    transform: scaleY(1);
}

.works-content .layout h6 {
    transform: translateY(-30px);
    transition: transform 0.5s ease;
}

.works-content:hover .layout h6 {
    transform: translateY(0);
}

.works-content .layout .icon {
    transform: translateY(30px);
    transition: transform 0.5s ease;
}

.works-content:hover .layout .icon {
    transform: translateY(0);
}



/* clients-section */

.clients-section {
    background-color: var(--background-color);
}

.carousel-item img {
    width: 90px;
    height: 90px;
    object-fit: cover;
}

.carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #869791;
}

.carousel-item span {
    font-size: 12px;
    font-weight: 550;
    color: #888;


}



/*  clients-section-part-2 */

.clients-card h3 {
    font-weight: 900;
}

.clients-card i {
    background-color: white;
}

.clients-card .card {
    border: white;
}

.clients-card .card-body p {
    font-weight: 600;
    line-height: 1.6;
    font-size: 15px;
}


/* team-section */

.team-section {
    background-color: var(--background-color);
    overflow: hidden;
}

.team-section .team-card .card-body {
    background-color: #5B5B5B;
}

.team-section .team-card p {
    color: white;
}

.team-card .card-body {
    z-index: 2;
}


.team-card img {
    transition: transform 0.8s ease;
}

.img-wrapper:hover img {
    transform: scale(1.1);
}


.team-layer {
    position: absolute;
    top: 2%;
    left: 2%;
    width: 96%;
    height: 96%;
    background: rgba(255, 255, 255, 0.9);
    opacity: 0;
    transform: rotateY(180deg);
    transition: all 0.6s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}


.team-card:hover .team-layer {
    opacity: 1;
    transform: rotateY(0deg);
}


.team-layer .icons a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #333;
    border: 1px solid rgba(0, 0, 0, 0.3);
     color: white;
    font-size: 18px;
    transition: all 0.3s ease;
}

.team-layer .icons a:hover {
    background: white;
    color: #333;
    border-color: #333;
}

/* contact section */
.contact-section .detalis i{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgb(244, 244, 244);
}

.contact-section .detalis:hover i{
    background-color: #333;
    color: white;
}

.form textarea.form-control{
    height: 160px;
    max-height: 180px;
    max-width: 100%;
    resize: both;

}
 
.form-control:focus{
    border: 0px;
    box-shadow: none;
}
.form-control:focus-visible{
    border: none;
}

.form-control{
    border: none;
    background-color:  rgb(244, 244, 244);
}
.form-control:focus-within{
    background-color: rgb(244, 244, 244) ;
}
 .form button{
    background-color:rgb(52, 52, 52);
    color: white;
    padding: 10px 40px;
    border-radius: 5%;
    margin-top: 20px;
 }

 .contact-section button:hover{
    background-color: white;
    color: #333;
    border: 1px solid #333;
 }



/* footer section */

 footer{
    background-color: rgb(30, 30, 30);
 }

     footer p{
        color: rgb(116, 129, 130);
        font-size: 13px;
     }
